@import "compass/css3";


$blueColor: #4f8bc9;
$redColor: #d54255;
$purpleColor: #784496;
$yellowColor: #edaa1e;
$orangeColor: #f46b3d;
$greenColor: #168984;
$redColor1: #df1d42;
$greenColor1: #158c88;
$greyColor: #2a2d32;
$greyColor1: #f0f0f0;
$whiteColor: #fff;
$blackColor: #000;
$blueColor1: #6DCDDD;